[package]
name = "cargo-mutants"
version = "23.11.1"
edition = "2021"
authors = ["Martin Pool"]
license = "MIT"
description = "Find inadequately-tested code that can be removed without any tests failing."
repository = "https://github.com/sourcefrog/cargo-mutants"
homepage = "https://mutants.rs/"
categories = ["development-tools::testing"]
keywords = ["testing", "mutants", "cargo", "mutation-testing", "coverage"]
rust-version = "1.70"
exclude = [
    ".codespell*",
    ".markdownlint*",
    "*.md",
    ".devcontainer",
    ".gitattributes",
    ".gitignore",
    ".github",
    "mutants.out*",
    ".vscode",
    "book",
    "testdata",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
camino = "1.0"
cargo_metadata = "0.18"
clap = { version = "4", features = [
    "deprecated",
    "derive",
    "env",
    "wrap_help",
] }
clap_complete = "4"
console = "0.15"
ctrlc = { version = "3.2.1", features = ["termination"] }
fastrand = "2"
fs2 = "0.4"
globset = "0.4.8"
indoc = "2.0.0"
itertools = "0.11"
mutants = "0.0.3"
nix = "0.27"
patch = "0.7"
path-slash = "0.2"
quote = "1.0"
regex = "1.10"
serde_json = "1"
similar = "2.0"
subprocess = "0.2.8"
tempfile = "3.2"
time = "0.3"
toml = "0.8"
tracing = "0.1"
tracing-appender = "0.2"
tracing-subscriber = "0.3"
whoami = "1.2"

[dependencies.cp_r]
version = "0.5.1"

[dependencies.nutmeg]
version = "0.1.4"
# git = "https://github.com/sourcefrog/nutmeg.git"
# branch = "const-new"

[dependencies.proc-macro2]
features = ["span-locations"]
version = "1.0.29"

[dependencies.serde]
version = "1"
features = ["derive"]

[dependencies.syn]
version = "2"
features = ["full", "extra-traits", "visit"]

[dev-dependencies]
assert_cmd = "2.0"
insta = "1.12"
lazy_static = "1.4"
predicates = "3"
pretty_assertions = "1"
regex = "1.5"
walkdir = "2.3"

[workspace]
members = ["mutants_attrs"]
resolver = "2"

# Exclude all testdata, so that they're more isolated from the real tree, and
# so that support for testing workspaces does not try to test the whole
# cargo-mutants tree.
exclude = [
    "testdata/tree/already_failing_tests",
    "testdata/tree/already_hangs",
    "testdata/tree/cdylib",
    "testdata/tree/cfg_attr_mutants_skip",
    "testdata/tree/cfg_attr_test_skip",
    "testdata/tree/dependency",
    "testdata/tree/diff0",
    "testdata/tree/diff1",
    "testdata/tree/error_value",
    "testdata/tree/everything_skipped",
    "testdata/tree/factorial",
    "testdata/tree/fails_without_feature",
    "testdata/tree/hang_avoided_by_attr/",
    "testdata/tree/hang_when_mutated",
    "testdata/tree/insta",
    "testdata/tree/integration_tests",
    "testdata/tree/missing_test",
    "testdata/tree/mut_ref",
    "testdata/tree/never_type",
    "testdata/tree/override_dependency",
    "testdata/tree/package-fails/",
    "testdata/tree/patch_dependency",
    "testdata/tree/relative_dependency",
    "testdata/tree/replace_dependency",
    "testdata/tree/small_well_tested",
    "testdata/tree/strict_warnings",
    "testdata/tree/struct_with_no_default",
    "testdata/tree/unapply",
    "testdata/tree/unsafe",
    "testdata/tree/well_tested",
    "testdata/tree/with_child_directories",
]
