[package]
name = "cargo-mutants"
version = "0.2.11-pre"
edition = "2018"
authors = ["Martin Pool"]
license = "MIT"
description = "Find inadequately-tested code that can be removed without any tests failing."
repository = "https://github.com/sourcefrog/cargo-mutants"
categories = ["development-tools::testing"]
keywords = ["testing", "mutants", "cargo", "mutation-testing", "coverage"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
argh = "0.1"
camino = "1.0"
cargo_metadata = "0.15"
chrono = "0.4"
console = "0.15"
ctrlc = "3.2.1"
fs2 = "0.4"
globset = "0.4.8"
itertools = "0.10"
nix = "0.24"
path-slash = "0.2"
quote = "1.0"
rand = "0.8"
serde_json = "1"
similar = "2.0"
subprocess = "0.2.8"
tempfile = "3.2"
toml = "0.5"
tracing = "0.1"
tracing-appender = "0.2"
tracing-subscriber = "0.3"
walkdir = "2.3"
whoami = "1.2"

[dependencies.cp_r]
version = "0.5.1"

[dependencies.nutmeg]
version = "0.1.2"
# git = "https://github.com/sourcefrog/nutmeg.git"

[dependencies.proc-macro2]
features = ["span-locations"]
version = "1.0.29"

[dependencies.serde]
version = "1"
features = ["derive"]

[dependencies.syn]
version = "1"
features = ["full", "extra-traits", "visit"]

[dev-dependencies]
assert_cmd = "2.0"
insta = "1.12"
lazy_static = "1.4"
predicates = "2"
pretty_assertions = "1"
regex = "1.5"

[workspace]
members = [
    "mutants_attrs",
    "testdata/tree/cfg_attr_mutants_skip",
    "testdata/tree/cfg_attr_test_skip",
    "testdata/tree/dependency",
    "testdata/tree/everything_skipped",
    "testdata/tree/factorial",
    "testdata/tree/hang_avoided_by_attr/",
    "testdata/tree/hang_when_mutated",
    "testdata/tree/relative_dependency",
    "testdata/tree/small_well_tested",
    "testdata/tree/strict_warnings",
    "testdata/tree/well_tested",
]

# `replace_dependency` can't be in the workspace, because 'replace' sections
# must be in the workspace root.
exclude = [
    "testdata/tree/already_hangs",
    "testdata/tree/already_failing_tests",
    "testdata/tree/override_dependency",
    "testdata/tree/patch_dependency",
    "testdata/tree/replace_dependency",
]
