[package]
name = "cargo-mutants"
version = "0.2.2-pre"
edition = "2018"
authors = ["Martin Pool"]
license = "MIT"
description = "Find inadequately-tested code that can be removed without any tests failing."
repository = "https://github.com/sourcefrog/cargo-mutants"
categories = ["development-tools::testing"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
argh = "0.1"
console = "0.15"
itertools = "0.10"
nix = "0.23"
path-slash = "0.1.4"
quote = "1.0"
rand = "0.8"
similar = "2.0"
subprocess = "0.2.8"
tempfile = "3.2"
walkdir = "2.3"
serde_json = "1"
indicatif = "0.16"
ctrlc = "3.2.1"

[dependencies.cp_r]
version = "0.5.0"
# path = "../cp_r"
# git = "https://github.com/sourcefrog/cp_r"

[dependencies.serde]
version = "1"
features = ["derive"]

[dependencies.syn]
version = "1"
features = ["full", "extra-traits", "visit"]

[dependencies.proc-macro2]
features = ["span-locations"]
version = "1.0.29"

[dev-dependencies]
assert_cmd = "2.0"
insta = "1.8"
lazy_static = "1.4"
predicates = "2"
pretty_assertions = "1"
regex = "1.5"

[workspace]
members = [
    "mutants_attrs",
    "testdata/tree/factorial",
    "testdata/tree/hang_avoided_by_attr/",
    "testdata/tree/hang_when_mutated",
    "testdata/tree/well_tested",
]

# TODO: Re-enable these when the tests are checked by the real integration tests, but
# skipped by `cargo test --workspace`. (It's complicated!)
exclude = ["testdata/tree/already_hangs", "testdata/tree/already_failing_tests"]
