name: Build book
on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/book.yml
      - book/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install mdbook
        uses: taiki-e/install-action@v2
        with:
          tool: mdbook
      - name: Install mdbook-linkcheck
        # Temporarily pull the fix for https://github.com/Michael-F-Bryan/mdbook-linkcheck/pull/98
        run: cargo install mdbook-linkcheck --git https://github.com/schilkp/mdbook-linkcheck --branch mdbook_v0.5
      - name: Build mdbook
        run: |
          mdbook build book
      - name: Archive book output
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: book
          path: book/book
